body {
    font-family: 'Sarabun', sans-serif;
  }


/* styles.css */
.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.instagram-logo {
  background: linear-gradient(to right, #e1306c, #fd1d1d, #fcb045, #833ab4);
  -webkit-background-clip: text;
  color: transparent;
}
