@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@400;600&display=swap");

.swal-popup {
  font-family: "Sarabun", sans-serif !important;
}

.swal-title {
  font-family: "Sarabun", sans-serif !important;
  font-weight: 600;
}

.swal-confirm {
  background-color: #3085d6 !important; /* ปุ่ม OK สีฟ้า */
  color: white !important;
}

.swal-cancel {
  background-color: #d33 !important; /* ปุ่มปิดสีแดง */
  color: white !important;
}
